
<html>
      <head>
        <meta charset="utf-8">
       <title>Bleu Search -Notes</title>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css">
        <h2 id ="title"></h2>
        <div id="analyst" > 
        </div>
      </head>

     
      <body>
  <!--
            <select multiple id="getCountry">
                    <option value="India">India</option>
                    <option value="Afghanistan">Afghanistan</option>
                    <option value="japan">japan</option>
                  </select>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
        <script>
        $(document).ready(function (){
           $("#getCountry").select2({
             allowClear:true,
             placeholder: 'Search for a disease'
           });
        })
      
        </script>
        -->
      
      <div id="ana">
      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
      <!-- Leaflet JavaScript -->
      <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <!-- Our JavaScript -->
          <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
          <script src="{{ url_for('static', filename='js/analysis.js') }}"></script>
      </body>
      </html>
      </body>
    </html>